:root {
  --main-color: #43386F;
  --top-color: #8279A2;
  --bottom-color: #BAA1C6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: linear-gradient(45deg, #Fd4017 40%, #D4330F);
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  justify-content: center;
  min-height: 100vh;
}